.btn1
{
    background-color: $btn1 !important;
    color: $wight;
    // border-style: none;
    border-radius: 5px;
}
.btn2
{
    background-color:transparent!important;
    color: $wight;
    border-color: $wight;
    border: solid 2px;
    border-radius: 5px;
}